// Body
$body-bg: #FFFFFF;

// Typography
$font-family-sans-serif: 'StabilGrotesk_Regular', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;


$border-radius:  8px;

// Colors
$blue: #1b99bc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #FE8252;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lightgrey: #A8A8A8;
$grey: #DDDDDD;
$darkgrey: #5B5B5B;
$black: #2D2D2D;
$darkblack: #000000;
$darkwhite: #FCFCFC;
$white: #FFF;


// Light Mode
$hover-bg-color: #f7f7f7;
$text-color: #2D2D2D;
$title-color: #000000;
$textlink-color: #FE8252;
$body-background: $darkwhite;

