<IfModule mod_rewrite.c>
	#RewriteEngine On
	#RewriteRule ^creator/([^-]*)-([^-]*)-([^-]*)$ /ycity/creator/$1?id=$1&firstname=$2&lastname=$3 [L]
	
	#RewriteEngine On
	#RewriteRule ^([^/]*)/([^/]*)$ /ycity/job?id=$1&title=$2 [L]
	

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]


</IfModule>

